@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header .navigation-menu .sales-box a {
  font-weight: bold;
  color: white;
}

.search-modal button, .search-modal input {
  background-color: transparent;
  border: none;
  outline: none;
}

.room-cards .cards .card-1 .text-holder a div,
.room-cards .cards .card-2 .text-holder a div,
.room-cards .cards .card-3 .text-holder a div, .products .products-container .data-box .info-text div .yellow-span {
  width: 25px;
  height: 7px;
  background-color: rgb(255, 177, 40);
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(44, 40, 40, 0.129);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
  padding-top: 1rem;
  margin-bottom: 30px;
}
header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
header .navigation .header-logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .navigation .header-logo_wrapper .header-text {
  font-size: 2rem;
  color: rgb(11, 57, 84);
  font-weight: bold;
}
header .navigation .header-search {
  margin: 0 1rem;
  padding: 0.5% 1%;
  background-color: rgb(245, 245, 245);
  width: clamp(100px, 100vw, 700px);
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
header .navigation .header-search .search-input {
  width: clamp(100px, 30vw, 700px);
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-search .search-input::-moz-placeholder {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-search .search-input::placeholder {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-user_menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
header .navigation .header-user_menu span {
  color: rgb(11, 57, 84);
  font-size: 1.3rem;
  font-weight: bold;
}
header .navigation-menu {
  display: flex;
  justify-content: center;
}
header .navigation-menu .item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-right: 1px solid rgb(245, 245, 245);
  padding: 0 clamp(1rem, 2vw, 5rem);
  margin-bottom: 1rem;
}
header .navigation-menu .item img {
  width: 40px;
  height: 40px;
}
header .navigation-menu .item a {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(11, 57, 84);
  text-decoration: none;
}
header .navigation-menu .item a::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./media/down-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
header .navigation-menu .sales-box {
  background-color: rgb(255, 177, 40);
  padding: 0.6% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px 20px 0 0;
}
header .navigation-menu .sales-box img {
  width: 25px;
  height: 25px;
}
header .navigation-menu .sales-box a {
  text-decoration: none;
}
header .hamburger {
  display: none;
  cursor: pointer;
}
header .hamburger .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(11, 57, 84);
  border-radius: 2px;
}
header .search {
  display: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  background-color: rgb(245, 245, 245);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s;
  padding: 50px 0 0 50px;
  z-index: 999;
}
.burger-menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: rgb(11, 57, 84);
  font-weight: bold;
  padding: 1rem;
}
.burger-menu a img {
  width: 2rem;
  height: 2rem;
}
.burger-menu a:hover {
  background-color: rgba(204, 200, 200, 0.549);
  border-radius: 20px;
}
.burger-menu button {
  font-size: 1.5rem;
  color: rgb(201, 199, 199);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.burger-menu.active {
  right: 0;
}

.search-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  display: none;
  position: absolute;
  width: 70%;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
}
.search-modal img {
  width: 20px;
  height: 20px;
}
.search-modal input {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
@media (max-width: 900px) {
  header {
    padding-bottom: 1rem;
  }
  header .header-logo_wrapper img {
    width: 30px;
    height: 30px;
  }
  header .header-logo_wrapper .header-text {
    font-size: 1rem !important;
  }
  header .hamburger {
    display: block;
  }
  header .navigation-menu {
    display: none;
  }
}
@media (max-width: 900px) and (max-width: 600px) {
  header .navigation {
    justify-content: space-between;
  }
  header .navigation .header-text {
    font-size: 1.5rem !important;
  }
  header .navigation .header-search {
    display: none;
  }
  header .navigation .header-user_menu .menu-item {
    display: none;
  }
  header .navigation .search {
    display: block;
  }
}
.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  margin-top: 15%;
  margin-bottom: 150px;
  padding: 0 1rem;
  height: 670px;
}
.main-page .main-page_bg {
  width: 85%;
  height: 670px;
  border-radius: 32px;
  background-color: rgb(11, 57, 84);
}
.main-page .main-page_content {
  background-image: url(./media/furniture-layer-picture.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 60vw;
  height: 700px;
  border-radius: 30px;
  position: absolute;
  top: 5%;
  padding: 0 1rem;
}
.main-page .main-page_content .selector-1 {
  right: 20%;
  bottom: 45%;
}
.main-page .main-page_content .selector-2 {
  right: 45%;
  bottom: 15%;
}
.main-page .main-page_content .selector-3 {
  right: 5%;
  bottom: 15%;
}
.main-page .main-page_content .selector-1,
.main-page .main-page_content .selector-2,
.main-page .main-page_content .selector-3 {
  position: absolute;
  background-color: rgba(204, 196, 196, 0.2196078431);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}
.main-page .main-page_content .selector-1 div,
.main-page .main-page_content .selector-2 div,
.main-page .main-page_content .selector-3 div {
  background-color: transparent;
  width: 45px;
  height: 45px;
  border: 1px solid rgba(176, 173, 173, 0.385);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.main-page .main-page_content .selector-1 div button,
.main-page .main-page_content .selector-2 div button,
.main-page .main-page_content .selector-3 div button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(255, 177, 40);
  color: white;
}
.main-page .main-page_content .selector-1:hover,
.main-page .main-page_content .selector-2:hover,
.main-page .main-page_content .selector-3:hover {
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
}
.main-page .main-page_content .text-wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.main-page .main-page_content .text-wrapper span {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.main-page .main-page_content .text-wrapper h3 {
  max-width: 50px;
  font-size: 3rem;
  color: white;
}
.main-page .main-page_content .text-wrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.main-page .main-page_content .text-wrapper .buttons button:first-child {
  background-color: rgb(255, 177, 40);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.main-page .main-page_content .text-wrapper .buttons button:first-child:hover {
  background-color: white;
  color: rgb(255, 177, 40);
  cursor: pointer;
}
.main-page .main-page_content .text-wrapper .buttons button:last-child {
  background-color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  color: rgb(255, 177, 40);
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.main-page .main-page_content .text-wrapper .buttons button:last-child:hover {
  background-color: rgb(255, 177, 40);
  color: white;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .main-page .main-page_content {
    width: 90vw;
  }
}
@media (max-width: 800px) {
  .main-page .main-page_bg {
    display: none;
  }
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;
}
.products .products-container {
  padding: 1rem;
}
.products .products-container .data-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 100px;
}
.products .products-container .data-box .data-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.products .products-container .data-box .data-text span:first-child {
  color: rgb(11, 57, 84);
  font-weight: bold;
}
.products .products-container .data-box .data-text .roll-numbers {
  color: rgb(255, 177, 40);
  font-size: 3rem;
  font-weight: bold;
}
.products .products-container .data-box .data-text span:last-child {
  color: rgb(11, 57, 84);
  font-size: 3rem;
  font-weight: bold;
}
.products .products-container .data-box .info-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products .products-container .data-box .info-text div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products .products-container .data-box .info-text div div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.products .products-container .data-box .info-text div div span:first-child {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(11, 57, 84);
}
.products .products-container .data-box .info-text div div span:last-child {
  color: rgb(11, 57, 84);
}
.products .products-container .products-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}
.products .products-container .products-items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(11, 57, 84);
  padding: 2rem 3rem;
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.products .products-container .products-items a img {
  width: 70px;
  height: 70px;
}
.products .products-container .products-items a:hover {
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(44, 40, 40, 0.129);
}
@media (max-width: 1300px) {
  .products .products-container {
    width: 95vw;
  }
  .products .products-container .products-items {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
@media (max-width: 800px) {
  .products .products-container .data-box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 2rem;
  }
}

.room-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.room-cards .cards {
  width: 95vw;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  justify-items: center;
}
.room-cards .cards .card-1,
.room-cards .cards .card-2,
.room-cards .cards .card-3 {
  width: 90%;
  height: 600px;
  border-radius: 40px;
  display: flex;
  align-items: end;
}
.room-cards .cards .card-1 .text-holder,
.room-cards .cards .card-2 .text-holder,
.room-cards .cards .card-3 .text-holder {
  padding: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.room-cards .cards .card-1 .text-holder span:first-child,
.room-cards .cards .card-2 .text-holder span:first-child,
.room-cards .cards .card-3 .text-holder span:first-child {
  color: white;
}
.room-cards .cards .card-1 .text-holder a,
.room-cards .cards .card-2 .text-holder a,
.room-cards .cards .card-3 .text-holder a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.room-cards .cards .card-1 .text-holder a:hover,
.room-cards .cards .card-2 .text-holder a:hover,
.room-cards .cards .card-3 .text-holder a:hover {
  transform: translateY(-10px);
}
.room-cards .cards .card-1 {
  background-image: url(./media/bedroom.png);
}
.room-cards .cards .card-2 {
  background-image: url(./media/office.png);
}
.room-cards .cards .card-3 {
  background-image: url(./media/kitchen.png);
}
@media (max-width: 1000px) {
  .room-cards .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.trends {
  margin-bottom: 200px;
}
.trends .trends-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.trends .trends-container .text-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
.trends .trends-container .text-container span {
  color: rgb(11, 57, 84);
  font-size: 1rem;
  font-weight: bold;
}
.trends .trends-container .text-container h3 {
  color: rgb(11, 57, 84);
  font-size: 3rem;
  font-weight: bold;
}
.trends .trends-container .text-container p {
  color: rgb(11, 57, 84);
}
.trends .trends-container .text-container button {
  background-color: rgb(255, 177, 40);
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.trends .trends-container .text-container button:hover {
  background-color: rgb(11, 57, 84);
}
@media (max-width: 1000px) {
  .trends .trends-container {
    flex-direction: column;
  }
}
@media (max-width: 640px) {
  .trends .trends-container img {
    width: 95%;
  }
}/*# sourceMappingURL=styles.css.map */