@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
// variables
$bg-color: rgba(255, 255, 255, 1);
$color-primary: white;
$text-color: rgba(11, 57, 84, 1);
$font-weight: bold;
$menu-fsz: 1rem;
$corner-padding: 0 1rem;
$yellow: rgba(255, 177, 40, 1);

// mixins
@mixin flex(
  $flex: flex,
  $direction: row,
  $justify: center,
  $align: stretch,
  $gap: 0
) {
  display: $flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin button-style(
  $color,
  $padding,
  $border,
  $radius,
  $txtcolor,
  $fsz,
  $weight
) {
  background-color: $color;
  padding: $padding;
  border: $border;
  border-radius: $radius;
  color: $txtcolor;
  font-size: $fsz;
  font-weight: $weight;
}
// extends

%bold-text {
  font-weight: $font-weight;
  color: $color-primary;
}

// base

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

// header

header {
  width: 100%;
  background-color: $bg-color;
  box-shadow: 0px 5px 20px 0px rgba(44, 40, 40, 0.129);
  @include flex(flex, column, center, stretch, 1rem);
  padding: $corner-padding;
  padding-top: 1rem;
  margin-bottom: 30px;

  .navigation {
    @include flex(flex, row, space-around, center, 0);

    .header-logo_wrapper {
      @include flex(flex, row, center, center, 1rem);
      .header-text {
        font-size: 2rem;
        color: $text-color;
        font-weight: $font-weight;
      }
    }
    .header-search {
      margin-left: 1rem;
      margin-right: 1rem;
      padding: 0.5% 1%;
      background-color: rgba(245, 245, 245, 1);
      width: clamp(100px, 100vw, 700px);
      height: 80%;
      @include flex(flex, row, start, center, 10px);
      border-radius: 10px;

      .search-input {
        width: clamp(100px, 30vw, 700px);
        height: 30px;
        background-color: transparent;
        outline: none;
        border: none;
        font-size: $menu-fsz;
        color: $text-color;
        &::placeholder {
          font-size: $menu-fsz;
          color: $text-color;
        }
      }
    }

    .header-user_menu {
      @include flex(flex, row, start, center, 10px);
      span {
        color: $text-color;
        font-size: 1.3rem;
        font-weight: $font-weight;
      }
    }
  }
  .navigation-menu {
    display: flex;
    justify-content: center;

    .item {
      @include flex(flex, column, start, center, 10px);
      border-right: 1px solid rgba(245, 245, 245, 1);
      padding: 0 clamp(1rem, 2vw, 5rem);
      margin-bottom: 1rem;
      img {
        width: 40px;
        height: 40px;
      }
      span {
        font-size: $menu-fsz;
        font-weight: $font-weight;
        color: $text-color;

        &::after {
          content: "";
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-left: 10px;
          background-image: url(./media/down-arrow.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    .sales-box {
      background-color: $yellow;
      padding: 0.6% 3%;
      @include flex(flex, column, center, center, 20px);
      border-radius: 20px 20px 0 0;
      img {
        width: 15px;
        height: 15px;
      }
      span {
        @extend %bold-text;
      }
    }
  }
}

// main page

.main-page {
  @include flex(flex, row, center, center, 0);
  position: relative;
  margin-bottom: 200px;
  padding: $corner-padding;

  .main-page_bg {
    width: 85%;
    height: 670px;
    border-radius: 32px;
    background-color: $text-color;
  }
  .main-page_content {
    background-image: url(./media/furniture-layer-picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: clamp(950px, 80vw, 1200px);
      
    height: 700px;
    border-radius: 30px;
    position: absolute;
    top: 5%;
    padding: $corner-padding;

    .selector-1 {
      right: 20%;
      bottom: 45%;
    }
    .selector-2 {
      right: 45%;
      bottom: 15%;
    }
    .selector-3 {
      right: 5%;
      bottom: 15%;
    }
    .selector-1,
    .selector-2,
    .selector-3 {
      position: absolute;

      background-color: #ccc4c438;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      @include flex(flex, row, center, center, 0);
      transition: 0.3s ease-in-out;
      transform: translate(-50%, -50%);
      div {
        background-color: transparent;
        width: 45px;
        height: 45px;
        border: 1px solid rgba(176, 173, 173, 0.385);
        border-radius: 50%;
        @include flex(flex, row, center, center, 0);
        button {
          width: 25px;
          height: 25px;
          border-radius: 50%;
          outline: none;
          border: none;
          background-color: $yellow;
          color: $color-primary;
        }
      }
      &:hover {
        transform: translate(-50%, -50%) scale(1.2);
        cursor: pointer;
      }
    }
    .text-wrapper {
      position: absolute;
      width: 600px;
      height: 400px;
      top: 10%;
      left: 10%;
      @include flex(flex, column, start, start, 1rem);

      span {
        font-size: 1rem;
        color: $color-primary;
        font-weight: $font-weight;
      }
      h3 {
        max-width: 50px;
        font-size: 3rem;
        color: $color-primary;
      }
      .buttons {
        @include flex(flex, row, start, center, 2rem);
        button:first-child {
          @include button-style(
            $yellow,
            1rem 1.5rem,
            none,
            30px,
            white,
            1rem,
            $font-weight
          );
          transition: 0.3s ease-in-out;
          &:hover {
            background-color: $color-primary;
            color: $yellow;
            cursor: pointer;
          }
        }
        button:last-child {
          @include button-style(
            $color-primary,
            1rem 1.5rem,
            none,
            30px,
            $yellow,
            1rem,
            $font-weight
          );
          transition: 0.3s ease-in-out;

          &:hover {
            background-color: $yellow;
            color: $color-primary;
            cursor: pointer;
          }
        }
      }
    }
  }
}
