@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.navigation-menu .sales-box a {
  font-weight: bold;
  color: white;
}

.search-modal button, .search-modal input {
  background-color: transparent;
  border: none;
  outline: none;
}

.room-cards .cards .card-1 .text-holder a div,
.room-cards .cards .card-2 .text-holder a div,
.room-cards .cards .card-3 .text-holder a div, .products .products-container .data-box .info-text div .yellow-span {
  width: 25px;
  height: 7px;
  background-color: rgb(255, 177, 40);
  border-radius: 5px;
}

.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-3,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-3,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-3 {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 30px;
  background-color: white;
  z-index: 888;
}

.hero-page .hero-page_content .selector-1 .circle-1 .circle-2 button,
.hero-page .hero-page_content .selector-2 .circle-1 .circle-2 button,
.hero-page .hero-page_content .selector-3 .circle-1 .circle-2 button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: rgb(255, 177, 40);
  color: white;
}

@media (max-width: 1600px) {
  .item-cards_container {
    width: 95vw !important;
  }
  .item-cards_container div {
    width: 330px !important;
    height: 410px !important;
  }
  .magazine-content {
    width: 95vw !important;
  }
}
@media (max-width: 1500px) {
  .hero-page_content {
    width: 90vw !important;
  }
}
@media (max-width: 1300px) {
  .products-container {
    width: 95vw;
  }
  .cards .card-1 {
    width: 1000px !important;
  }
}
@media (max-width: 1090px) {
  .cards .card-1 {
    width: 95% !important;
  }
  .cards .card-2 {
    width: 95% !important;
  }
  .cards .card-3 {
    width: 95% !important;
  }
}
@media (max-width: 900px) {
  header {
    position: fixed;
    top: 0;
  }
  header .header-text {
    font-size: 1.5rem !important;
  }
  header .hamburger {
    display: block !important;
  }
  .hero-page {
    margin-top: 10%;
  }
  .hero-page_bg {
    display: none;
  }
  .navigation-menu {
    display: none !important;
  }
  .magazine-content img {
    width: 70% !important;
    height: 80% !important;
  }
  .magazine-content div:first-child {
    flex-direction: column !important;
    align-items: start !important;
  }
  .magazine-content div:last-child div {
    flex-direction: column !important;
  }
}
@media (max-width: 650px) {
  header .navigation {
    justify-content: space-between !important;
  }
  header .navigation .header-search {
    display: none !important;
  }
  header .navigation .header-user_menu .menu-item {
    display: none;
  }
  header .navigation .search {
    display: block;
  }
  .trends-container img {
    width: 95%;
  }
  .user-menu_modal {
    display: flex !important;
  }
  .magazine-content div:last-child {
    flex-direction: column !important;
    align-items: start !important;
    justify-content: start !important;
  }
  .magazine-content div:last-child div {
    flex-direction: row !important;
    align-items: center !important;
  }
}
header {
  z-index: 999;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  padding: 1rem;
}
header .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
header .navigation .header-logo_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header .navigation .header-logo_wrapper .header-text {
  font-size: 2rem;
  color: rgb(11, 57, 84);
  font-weight: bold;
  text-decoration: none;
}
header .navigation .header-search {
  margin: 0 1rem;
  padding: 0.5% 1%;
  background-color: rgb(245, 245, 245);
  width: clamp(100px, 100vw, 700px);
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}
header .navigation .header-search .search-input {
  width: clamp(100px, 30vw, 700px);
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-search .search-input::-moz-placeholder {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-search .search-input::placeholder {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
header .navigation .header-user_menu {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
header .navigation .header-user_menu span {
  color: rgb(11, 57, 84);
  font-size: 1.3rem;
  font-weight: bold;
}
header .hamburger {
  display: none;
  cursor: pointer;
}
header .hamburger .bar {
  display: block;
  width: 20px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: rgb(11, 57, 84);
  border-radius: 2px;
}
header .search {
  display: none;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
}

.navigation-menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 20px 20px 0px rgba(44, 40, 40, 0.129);
  z-index: 1111;
  margin-bottom: 5%;
}
.navigation-menu .item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  border-right: 1px solid rgb(245, 245, 245);
  padding: 0 clamp(1rem, 2vw, 5rem);
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.navigation-menu .item img {
  width: 40px;
  height: 40px;
}
.navigation-menu .item a {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(11, 57, 84);
  text-decoration: none;
}
.navigation-menu .item a::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url(./media/down-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navigation-menu .item a:hover {
  color: rgb(255, 177, 40);
}
.navigation-menu .item .chairs-menu {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 0rem;
  width: 600px;
  border-radius: 0 0 50px 50px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  z-index: 999;
  transition: 0.3s ease-in-out;
}
.navigation-menu .item .chairs-menu.last {
  left: auto;
  right: 0;
}
.navigation-menu .item .chairs-menu .types {
  height: 400px;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1px;
  border-radius: 0 0 0 50px;
}
.navigation-menu .item .chairs-menu .types a {
  font-size: 15px;
  font-weight: bold;
  width: 200px;
  color: rgb(11, 57, 84);
  text-decoration: none;
  border-bottom: 1px solid rgba(204, 204, 204, 0.823);
  padding: 1rem 0;
}
.navigation-menu .item .chairs-menu .types a:hover {
  color: rgb(255, 177, 40);
}
.navigation-menu .item .chairs-menu .type-example {
  background-color: rgb(245, 245, 245);
  border-radius: 0 0 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  padding: 3rem 2rem;
  height: 400px;
}
.navigation-menu .item .chairs-menu .type-example span {
  color: rgb(83, 184, 244);
  font-size: 1rem;
}
.navigation-menu .item .chairs-menu .type-example h4,
.navigation-menu .item .chairs-menu .type-example p,
.navigation-menu .item .chairs-menu .type-example .price {
  color: rgb(11, 57, 84);
}
.navigation-menu .item .chairs-menu .type-example h4 {
  font-size: 2rem;
}
.navigation-menu .item .chairs-menu .type-example img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(50%);
  width: 200px;
  height: 200px;
}
.navigation-menu .sales-box {
  background-color: rgb(255, 177, 40);
  padding: 0.6% 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px 20px 0 0;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.navigation-menu .sales-box img {
  width: 25px;
  height: 25px;
}
.navigation-menu .sales-box a {
  text-decoration: none;
}
.navigation-menu .sales-box:hover {
  background-color: rgb(11, 57, 84);
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  background-color: rgb(245, 245, 245);
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 0.5s;
  padding: 50px 0 0 50px;
  z-index: 1111;
}
.burger-menu a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: rgb(11, 57, 84);
  font-weight: bold;
  padding: 1rem;
}
.burger-menu a img {
  width: 2rem;
  height: 2rem;
}
.burger-menu a:hover {
  background-color: rgba(204, 200, 200, 0.549);
  border-radius: 20px;
}
.burger-menu button {
  font-size: 1.5rem;
  color: rgb(201, 199, 199);
  border: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
.burger-menu.active {
  right: 0;
}

.search-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  display: none;
  position: fixed;
  width: 70%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000;
}
.search-modal img {
  width: 20px;
  height: 20px;
}
.search-modal input {
  font-size: 1rem;
  color: rgb(11, 57, 84);
}
.overlay {
  position: fixed;
  display: none;
  z-index: 888;
  top: 11%;
  width: 100%;
  height: 100vh;
  background-color: rgba(52, 52, 52, 0.5);
}

.user-menu_modal {
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0rem;
  width: 100%;
  padding: 1rem;
  background-color: white;
  box-shadow: -1px 0px 20px 0px rgba(44, 40, 40, 0.129);
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.user-menu_modal a {
  position: relative;
}
.user-menu_modal a div {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 177, 40);
  bottom: 70%;
  left: 100%;
  border-radius: 50%;
  color: white;
  text-align: center;
}

.hero-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  margin-bottom: 150px;
  padding: 0 1rem;
  height: 670px;
}
.hero-page_bg {
  width: 85%;
  height: 670px;
  border-radius: 32px;
  background-color: rgb(11, 57, 84);
}
.hero-page .hero-page_content {
  background-image: url(./media/furniture-layer-picture.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  width: 60vw;
  height: 700px;
  border-radius: 30px;
  position: absolute;
  top: 5%;
  padding: 0 1rem;
}
.hero-page .hero-page_content .selector-1 {
  right: 20%;
  bottom: 45%;
}
.hero-page .hero-page_content .selector-1 .selector-modal-1 {
  bottom: 100%;
  right: -100%;
}
.hero-page .hero-page_content .selector-2 {
  right: 50%;
  bottom: 20%;
}
.hero-page .hero-page_content .selector-2 .selector-modal-2 {
  bottom: 100%;
}
.hero-page .hero-page_content .selector-3 {
  right: 5%;
  bottom: 20%;
}
.hero-page .hero-page_content .selector-3 .selector-modal-3 {
  right: 100%;
}
.hero-page .hero-page_content .selector-1,
.hero-page .hero-page_content .selector-2,
.hero-page .hero-page_content .selector-3 {
  position: absolute;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.hero-page .hero-page_content .selector-1 .circle-1,
.hero-page .hero-page_content .selector-2 .circle-1,
.hero-page .hero-page_content .selector-3 .circle-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(204, 196, 196, 0.2196078431);
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%);
}
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-3,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-3,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-1,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-2,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-3 {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-1 img,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-2 img,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-3 img,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-1 img,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-2 img,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-3 img,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-1 img,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-2 img,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-3 img {
  width: 200px;
  height: 170px;
}
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-1 .item-info,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-2 .item-info,
.hero-page .hero-page_content .selector-1 .circle-1 .selector-modal-3 .item-info,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-1 .item-info,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-2 .item-info,
.hero-page .hero-page_content .selector-2 .circle-1 .selector-modal-3 .item-info,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-1 .item-info,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-2 .item-info,
.hero-page .hero-page_content .selector-3 .circle-1 .selector-modal-3 .item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: rgb(11, 57, 84);
}
.hero-page .hero-page_content .selector-1 .circle-1 .circle-2,
.hero-page .hero-page_content .selector-2 .circle-1 .circle-2,
.hero-page .hero-page_content .selector-3 .circle-1 .circle-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(176, 173, 173, 0.385);
  border-radius: 50%;
}
.hero-page .hero-page_content .selector-1 .circle-1:hover,
.hero-page .hero-page_content .selector-2 .circle-1:hover,
.hero-page .hero-page_content .selector-3 .circle-1:hover {
  transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}
.hero-page .hero-page_content .text-wrapper {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.hero-page .hero-page_content .text-wrapper span {
  font-size: 1rem;
  color: white;
  font-weight: bold;
}
.hero-page .hero-page_content .text-wrapper h3 {
  max-width: 50px;
  font-size: clamp(2rem, 2vw, 3rem);
  color: white;
}
.hero-page .hero-page_content .text-wrapper .buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}
.hero-page .hero-page_content .text-wrapper .buttons button:first-child {
  background-color: rgb(255, 177, 40);
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-size: clamp(0.7rem, 2vw, 1rem);
  transition: 0.3s ease-in-out;
}
.hero-page .hero-page_content .text-wrapper .buttons button:first-child:hover {
  background-color: white;
  color: rgb(255, 177, 40);
  cursor: pointer;
}
.hero-page .hero-page_content .text-wrapper .buttons button:last-child {
  background-color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 30px;
  color: rgb(255, 177, 40);
  font-size: 1rem;
  font-weight: bold;
  font-size: clamp(0.7rem, 2vw, 1rem);
  transition: 0.3s ease-in-out;
}
.hero-page .hero-page_content .text-wrapper .buttons button:last-child:hover {
  background-color: rgb(255, 177, 40);
  color: white;
  cursor: pointer;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 100px;
}
.products .products-container {
  padding: 1rem;
}
.products .products-container .data-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.products .products-container .data-box .data-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.products .products-container .data-box .data-text span:first-child {
  color: rgb(11, 57, 84);
  font-weight: bold;
}
.products .products-container .data-box .data-text .roll-numbers {
  color: rgb(255, 177, 40);
  font-size: 3rem;
  font-weight: bold;
}
.products .products-container .data-box .data-text span:last-child {
  color: rgb(11, 57, 84);
  font-size: 3rem;
  font-weight: bold;
}
.products .products-container .data-box .info-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products .products-container .data-box .info-text div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.products .products-container .data-box .info-text div div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
}
.products .products-container .data-box .info-text div div span:first-child {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(11, 57, 84);
}
.products .products-container .data-box .info-text div div span:last-child {
  color: rgb(11, 57, 84);
}
.products .products-container .products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.products .products-container .products-items a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(11, 57, 84);
  padding: 2rem 3rem;
  background-color: rgb(249, 249, 249);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}
.products .products-container .products-items a img {
  width: 70px;
  height: 70px;
}
.products .products-container .products-items a:hover {
  background-color: white;
  box-shadow: 0px 5px 20px 0px rgba(44, 40, 40, 0.129);
}

.room-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.room-cards .cards {
  width: 95vw;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.room-cards .cards .card-1,
.room-cards .cards .card-2,
.room-cards .cards .card-3 {
  background-repeat: no-repeat;
  background-size: cover;
  width: 500px;
  height: 600px;
  border-radius: 40px;
  display: flex;
  align-items: end;
}
.room-cards .cards .card-1 .text-holder,
.room-cards .cards .card-2 .text-holder,
.room-cards .cards .card-3 .text-holder {
  padding: 0 0 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
}
.room-cards .cards .card-1 .text-holder span:first-child,
.room-cards .cards .card-2 .text-holder span:first-child,
.room-cards .cards .card-3 .text-holder span:first-child {
  color: white;
}
.room-cards .cards .card-1 .text-holder a,
.room-cards .cards .card-2 .text-holder a,
.room-cards .cards .card-3 .text-holder a {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  text-decoration: none;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  transition: transform 0.3s ease;
}
.room-cards .cards .card-1 .text-holder a:hover,
.room-cards .cards .card-2 .text-holder a:hover,
.room-cards .cards .card-3 .text-holder a:hover {
  transform: translateY(-10px);
}
.room-cards .cards .card-1 {
  background-image: url(./media/bedroom.png);
}
.room-cards .cards .card-2 {
  background-image: url(./media/office.png);
}
.room-cards .cards .card-3 {
  background-image: url(./media/kitchen.png);
}

.trends {
  margin-bottom: 200px;
}
.trends .trends-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}
.trends .trends-container .text-container {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 2rem;
}
.trends .trends-container .text-container span {
  color: rgb(11, 57, 84);
  font-size: 1rem;
  font-weight: bold;
}
.trends .trends-container .text-container h3 {
  color: rgb(11, 57, 84);
  font-size: 3rem;
  font-weight: bold;
}
.trends .trends-container .text-container p {
  color: rgb(11, 57, 84);
}
.trends .trends-container .text-container button {
  background-color: rgb(255, 177, 40);
  padding: 1rem 2rem;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.trends .trends-container .text-container button:hover {
  background-color: rgb(11, 57, 84);
}

.item-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
  position: relative;
  margin-bottom: 200px;
}
.item-cards .item-cards_container {
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 0 1rem;
}
.item-cards .item-cards_container div {
  position: relative;
  background-color: #f6f6f6;
  border-radius: 20px;
  width: 380px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.item-cards .item-cards_container div span:first-child {
  position: absolute;
  top: 10%;
  left: 7%;
  background-color: rgb(255, 177, 40);
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
}
.item-cards .item-cards_container div img {
  width: 250px;
  height: 250px;
}
.item-cards .item-cards_container div img:hover {
  cursor: pointer;
}
.item-cards .item-cards_container div a {
  text-decoration: none;
  color: rgb(11, 57, 84);
  font-size: 1rem;
  font-weight: bold;
}
.item-cards .item-cards_container div .item-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 50px;
  height: 1;
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
.item-cards .item-cards_container div .item-modal a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}
.item-cards .item-cards_container div .item-modal a:hover {
  background-color: rgb(255, 177, 40);
}
.item-cards .item-cards_container div .item-modal a img {
  width: 15px;
  height: 15px;
}
.item-cards button {
  position: absolute;
  bottom: -10%;
  background-color: transparent;
  outline: none;
  border: 1px solid #b9b7b7;
  padding: 15px 30px;
  border-radius: 20px;
  color: rgb(255, 177, 40);
  font-weight: bold;
}
.item-cards button:hover {
  background-color: rgb(255, 177, 40);
  color: white;
}

.magazine-container {
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
.magazine-container .magazine-content {
  width: 65vw;
  background: linear-gradient(to right, rgb(241, 158, 32), rgb(255, 177, 40));
  border-radius: 40px;
  padding: 3rem;
}
.magazine-container .magazine-content img {
  width: 50%;
  height: 50%;
}
.magazine-container .magazine-content div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
  top: -15%;
}
.magazine-container .magazine-content div:first-child .magazine-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}
.magazine-container .magazine-content div:first-child .magazine-name span {
  color: white;
  font-weight: bold;
}
.magazine-container .magazine-content div:first-child .magazine-name h4 {
  color: white;
  font-size: 3rem;
}
.magazine-container .magazine-content div:first-child .magazine-name button {
  background-color: rgb(11, 57, 84);
  color: white;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 20px;
}
.magazine-container .magazine-content div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  gap: 2rem;
}
.magazine-container .magazine-content div:last-child div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  transition: 0.5s ease-in-out;
}
.magazine-container .magazine-content div:last-child div span {
  color: white;
  font-size: 2rem;
}
.magazine-container .magazine-content div:last-child div p {
  color: white;
  font-size: 1.5rem;
}
.magazine-container .magazine-content div:last-child div:hover {
  transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=styles.css.map */