@media (max-width: 1600px) {
  .item-cards_container {
    width: 95vw !important;
    div {
      width: 330px !important;
      height: 410px !important;
    }
  }
  .magazine-content {
    width: 95vw !important;
  }
}
@media (max-width: 1500px) {
  .hero-page_content {
    width: 90vw !important;
  }
}
@media (max-width: 1300px) {
  .products-container {
    width: 95vw;
  }
  .cards {
    .card-1 {
      width: 1000px !important;
    }
  }
}
@media (max-width: 1090px) {
  .cards {
    .card-1 {
      width: 95% !important;
    }
    .card-2 {
      width: 95% !important;
    }
    .card-3 {
      width: 95% !important;
    }
  }
}
@media (max-width: 900px) {
  header {
    position: fixed;
    top: 0;
    .header-text {
      font-size: 1.5rem !important;
    }
    .hamburger {
      display: block !important;
    }
  }
  .hero-page {
    margin-top: 10%;
  }
  .hero-page_bg {
    display: none;
  }
  .navigation-menu {
    display: none !important;
  }

  .magazine-content {
    img {
      width: 70% !important;
      height: 80% !important;
    }
    div:first-child {
      flex-direction: column !important;
      align-items: start !important;
    }
    div:last-child {
      div{

        flex-direction: column !important;
      }
    }
  }
}
@media (max-width: 650px) {
  header {
    .navigation {
      justify-content: space-between !important;
      .header-search {
        display: none !important;
      }
      .header-user_menu {
        .menu-item {
          display: none;
        }
      }
      .search {
        display: block;
      }
    }
  }
  .trends-container {
    img {
      width: 95%;
    }
  }
  .user-menu_modal {
    display: flex !important;
  }

  .magazine-content {
    div:last-child {
      flex-direction: column !important;
      align-items: start !important;
      justify-content: start !important;

      div {
        flex-direction: row !important;
        align-items: center !important;
      }
    }
  }
}
