
.room-cards {
  @include flex(flex, row, center, start, 1rem);
  .cards {
    width: 95vw;
    margin-bottom: 100px;
    @include flex(flex, row, center, center, 2rem);
    flex-wrap: wrap;

    .card-1,
    .card-2,
    .card-3 {
      background-repeat: no-repeat;
      background-size: cover;
      width: 500px;
      height: 600px;
      border-radius: 40px;
      display: flex;
      align-items: end;
      .text-holder {
        padding: 0 0 3rem 3rem;
        @include flex(flex, column, start, start, 1rem);
        span:first-child {
          color: $color-primary;
        }
        a {
          @include flex(flex, column, start, start, 1rem);
          text-decoration: none;
          color: $color-primary;
          font-size: 3rem;
          font-weight: $font-weight;
          transition: transform 0.3s ease;
          div {
            @extend %yellow-stripe;
          }
          &:hover {
            transform: translateY(-10px);
          }
        }
      }
    }
    .card-1 {
      background-image: url(./media/bedroom.png);
    }
    .card-2 {
      background-image: url(./media/office.png);
    }
    .card-3 {
      background-image: url(./media/kitchen.png);
    }
  }
}
